/*
 ******************************************************
 ***** General settings that apply to all devices *****
 ******************************************************
*/
body {
  background-color: white;
  font-family: verdana; /* useful link with lots of fonts: http://www.angelfire.com/fl5/html-tutorial/fontlist.htm */
  color: black; /* Color of text */
  /*
   * To make the content reach the edges of the browser window
   * we set the margin and padding of the body and html elements to zero.
   */
  margin: 0px 0px 0px 0px; /* top, right, bottom, left */
  padding: 0px;
}

h2 {
  text-transform: uppercase;
  font-size: 25px;
}

hr {
  width: 50px;
  /*
   * https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element
   */
  border-top: 2px solid #72c02c;
}

.headerBar {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.contentImage {
  /*
   * How to center a div in another div
   * https://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-another-div
   * This makes the inner div into an inline element that can be centered with text-align
   */
    background-color: #ebfaeb;
    background-image: url("../images/background_4752x3168.jpg");
    width: 100%;
    text-align: center;
}

.iconGallery {
  padding: 10px;
}

/*
 * Settings for images inside div gallery.
 */
div.iconGallery img {
  height: 100px;
  width: 100px;
}

.contentText {
  height: auto; /* Let the browser calculate the height needed */
  width: 100%;
  /*
   * How to center a div in another div
   * https://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-another-div
   * This makes the inner div into an inline element that can be centered with text-align
   */
  text-align: center;
  padding-top: 20px; /* To give some extra room/space between image and header */
}

.previewContainer {
  /*
   * How to center a div in another div
   * https://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-another-div
   * This makes the inner div into an inline element that can be centered with text-align
   */
  display: inline-block;
  margin: 0px 0px 0px 0px; /* top, right, bottom, left */
}

.previewGallery {
  width: 300px;
  margin: 50px 0px 50px 0px; /* top, right, bottom, left */
  padding: 0px;
  text-align: left;
}

div.previewGallery img {
  height: 150px;
  width: 200px
}

.footerBar {
  background: grey;
  color: white;
  height: 75px;
  text-align: center;
  padding-top: 25px;
}

div.footerBar a {
  color: white;
  text-decoration: none;
}

/*
 **************************************************************
 ***** Settings that apply to desktops (min-width: 768px),
 ***** i.e. settings that apply for screen with width size
 ***** equal and or greater than 768 pixels.
 **************************************************************
*/
@media only screen and (min-width: 768px) {
  .contentImage {
    height: 500px;
  }

  .iconContainer {
    /*
     * How to center a div in another div
     * https://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-another-div
     * This makes the inner div into an inline element that can be centered with text-align
     */
    display: inline-block;
    margin: 300px 0px 0px 0px; /* top, right, bottom, left */
  }

  .iconGallery {
    float: left;
    /*
     * 150 = (width of contentImage)/3.
     * Width of contentImage (content box in which the gallery resides) is 100%.
     * 3 is the number of pictures per row.
     * Hence, this calculation does not apply at the moment and 150px is just
     * selected by me.
     */
    width: 150px;
    margin: 0px 0px 0px 0px; /* top, right, bottom, left */
    padding: 0px;
  }

  .previewGallery {
    float: left;
  }
}

@media (min-width: 768px) and (max-width: 914px) {
  .previewContainer {
    /*
     * How to center a div in another div
     * https://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-another-div
     * This makes the inner div into an inline element that can be centered with text-align
     */
    display: inline-block;
    margin: 0px 0px 0px 100px; /* top, right, bottom, left */
  }
}
