/*
 ******************************************************
 ***** General settings that apply to all devices *****
 ******************************************************
*/

/*
 * Inspiration
 * https://codurance.com/
 */

h2 {
  text-transform: uppercase;
  font-size: 25px;
}

hr {
  width: 50px;
  /*
   * https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element
   */
  border-top: 2px solid #72c02c;
}

iframe { /* General iframe setting */
  width: 300px;
  height: 400px;
  border: 0px;
  padding: 0;
  margin: 0;
  display: inline-block; /* This is to
                            - remove the white spaces in between the iframes
                              https://www.w3schools.com/css/css_display_visibility.asp
                            - display the iframes in center of div
                            */
}

.contentImage {
    background-image: url("../images/background_4752x3168.jpg");
}

.contentText {
  padding-top: 20px; /* To give some extra room/space between image and header */
}

.contentTextContainer {
  /*
   * How to center a div in another div
   * https://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-another-div
   * This makes the inner div into an inline element that can be centered with text-align
   */
  display: inline-block;
  margin: 0px 0px 0px 0px; /* top, right, bottom, left */
}

.contentTextGallery {
  width: 300px;
  margin: 50px 0px 50px 0px; /* top, right, bottom, left */
  padding: 0px;
}

/*
 **************************************************************
 ***** Settings that apply to desktops (min-width: 768px),
 ***** i.e. settings that apply for screen with width size
 ***** equal and or greater than 768 pixels.
 **************************************************************
*/
@media only screen and (min-width: 768px) {
  .contentImage {
    height: 500px;
  }

  .contentImageContainer {
    margin: 300px 0px 0px 0px; /* top, right, bottom, left */
  }

  .contentTextGallery {
    float: left;
  }
}

@media (min-width: 768px) and (max-width: 914px) {
  .contentTextContainer {
    /*
     * How to center a div in another div
     * https://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-another-div
     * This makes the inner div into an inline element that can be centered with text-align
     */
    display: inline-block;
    margin: 0px 0px 0px 100px; /* top, right, bottom, left */
  }
}
