/*
 ******************************************************
 ***** General settings that apply to all devices *****
 ******************************************************
*/

/*
 * Inspiration
 * http://palsjoterrangen.hsok.se/information/
 */

iframe { /* General iframe setting */
  width: 200px;
  height: 1600px;
  padding: 0;
  margin: 0;
  border: 0;
  display: inline-block; /* This is to
                            - remove the white spaces in between the iframes
                              https://www.w3schools.com/css/css_display_visibility.asp
                            - display the iframes in center of div
                            */
}

.contentImage {
    background-color: white;
    background-image: url("../family/motalamasten/images/banner.jpg");
    background-size: cover;
    height: 300px;
    width: 100%;
    /*
     * How to center a div in another div
     * https://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-another-div
     * This makes the inner div into an inline element that can be centered with text-align
     */
    text-align: center;
}

.contentText {
  padding-top: 20px; /* To give some extra room/space between image and header */
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    iframe { /* General iframe setting */
      width: 600px;
    }
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    iframe { /* General iframe setting */
      width: 700px;
    }
  }
