/*
 ******************************************************
 ***** General settings that apply to all devices *****
 ******************************************************
*/
body {
  font-family: 'Lato', Helvetica, sans-serif;
}

h1 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 20px;
  color: #267A6F;
}

hr {
  width: 75px;
  border-top: 2px solid #267A6F;
  text-align:left;
  margin-left: 0
}

a {
  text-decoration: none;
  color: #267A6F;
}

.post_container {
  /*
   * How to center a div in another div
   * https://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-another-div
   * This makes the inner div into an inline element that can be centered with text-align
   */
  text-align: center;
}

div.post_image img {
  height: 175px;
  width: 175px;
}

.post_content {
  text-align: left;
}

/*
 **************************************************************
 ***** Settings that apply to desktops (min-width: 768px),
 ***** i.e. settings that apply for screen with width size
 ***** equal and or greater than 768 pixels.
 **************************************************************
*/
@media only screen and (min-width: 768px) {
  .post_image {
    float: left;
  }

  div.post_image img {
    margin-right: 20px;
  }
}
