/*
 ******************************************************
 ***** General settings that apply to all devices *****
 ******************************************************
*/

/*
 * Inspiration
 * https://wordpress.org/themes/zerif-lite/
 */

body {
  background-color: white;
  font-family: verdana; /* useful link with lots of fonts: http://www.angelfire.com/fl5/html-tutorial/fontlist.htm */
  color: black; /* Color of text */
  /*
   * To make the content reach the edges of the browser window
   * we set the margin and padding of the body and html elements to zero.
   */
  margin: 0px 0px 0px 0px; /* top, right, bottom, left */
  padding: 0px;
}

iframe { /* General iframe setting */
  width: 67%;
  height: 200px;
  border: 0px;
  border-bottom: 1px solid grey;
  padding: 0;
  margin: 0;
  display: inline-block; /* This is to
                            - remove the white spaces in between the iframes
                              https://www.w3schools.com/css/css_display_visibility.asp
                            - display the iframes in center of div contentText
                            */
}

.headerBar {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.contentImage {
  background-color: #ebfaeb;
  background-image: url("../running/images/background_wood_1920x1080.jpg");
  width: 100%;
  /*height: 300px;*/
  height: auto;
  /*
   * How to center a div in another div
   * https://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-another-div
   * This makes the inner div into an inline element that can be centered with text-align
   */
  text-align: center;
}

.iconGallery {
  padding: 10px;
}

/*
 * Settings for images inside div gallery.
 */
div.iconGallery img {
  height: 100px;
  width: 100px;
}

.contentText {
  height: auto; /* Let the browser calculate the height needed */
  width: 100%;
  /*
   * How to center a div in another div
   * https://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-another-div
   * This makes the inner div into an inline element that can be centered with text-align
   */
  text-align: center;
  padding-top: 5px;
}

.iframeContainer {
  /* Nothing here at the moment */
}

.footerBar {
  background: black;
  color: white;
  height: 75px;
  text-align: center;
  padding-top: 25px;
}

div.footerBar a {
  color: white;
  text-decoration: none;
}

/*
 **************************************************************
 ***** Settings that apply to desktops (min-width: 768px),
 ***** i.e. settings that apply for screen with width size
 ***** equal and or greater than 768 pixels.
 **************************************************************
*/
@media only screen and (min-width: 768px) {
  .contentImage {
    height: 300px;
  }

  .iconContainer {
    /*
     * How to center a div in another div
     * https://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-another-div
     * This makes the inner div into an inline element that can be centered with text-align
     */
    display: inline-block;
    margin: 100px 0px 0px 0px; /* top, right, bottom, left */
  }

  .iconGallery {
    float: left;
    /*
     * 150 = (width of contentImage)/3.
     * Width of contentImage (content box in which the gallery resides) is 100%.
     * 3 is the number of pictures per row.
     * Hence, this calculation does not apply at the moment and 150px is just
     * selected by me.
     */
    width: 150px;
    margin: 0px 0px 0px 0px; /* top, right, bottom, left */
    padding: 0px;
  }
}
