/*
 ******************************************************
 ***** General settings that apply to all devices *****
 ******************************************************
*/
body {
  background-color: #000;
  font-family: verdana; /* useful link with lots of fonts: http://www.angelfire.com/fl5/html-tutorial/fontlist.htm */
  color: black; /* Color of text */
  /* To make the content reach the edges of the browser window
     we set the margin and padding of the body and html elements to zero. */
  margin: 50px 0px 0px 0px; /* top, right, bottom, left */
  padding: 0px;
}

h1 { /* Header setting */
  font-family: fantasy;
  text-align: center;
}

img.imageContent { /* settings for images that belong to class imageContent */
  height: 150px;
  width: 100px;
}

div.navbar img { /* settings for images inside div navbar */
  height: 1px;
  width: 1px;
}

a { /* make all links white with no unerline */
  color: white;
  text-decoration: none;
}

ul.linksNavbar { /* Remove the bullets from the unsorted list in navbar */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-container { /* This is the main box in which everything should go */
  background: white;
  width: 300px;
  height: auto; /* auto since everytinh will just be displayed in a long page */
  border: 0px;  /* border and padding are almost the same */
  padding: 0px; /* to get white padding around the main-container */
  margin: auto; /* This attribute makes the box go in to center of page */
}

.navbar { /* This is the navigation box. In which we add links */
  background: black;
  color: white;
  text-align: center;
  font-family: fantasy;
}

.content { /* From start I want everything in content to be in center of box */
  text-align: center;
}

.footer{
  font-style: italic;
  text-align: center;
  margin-top: 0px;
  clear: both;
}

.gallery {
}

div.gallery img { /* Settings for images inside div gallery */
  height: 200px;
  width: 200px;
}

p.leftText { /* align text to left side */
  text-align: left;
}

/*
 **************************************************************
 ***** Settings that apply to desktops (min-width: 768px) *****
 **************************************************************
*/
@media only screen and (min-width: 768px) {
  body {
    background-color: #ddd;
  }

  .main-container { /* This is the main box in which everything should go */
    width: 910px;
    height: 700px;
    border-radius: 6px;
    box-shadow: 10px 10px 5px #888888;
  }

  .navbar {
    width: 150px;
    height: 700px;
    float: left;
  }

  .content {
    width: 750px;
    height: 700px;
    float: right;
    border: 0px;
    padding-left: 10px;
  }

  .gallery {
    float: left;
    width: 250px; /* 750/3=250. 750 is width of content box in which the gallery resides.
                     3 is the number of pictures per row */
    margin: 0px 0px 20px 0px; /* top, right, bottom, left */
    padding: 0px;
  }

  div.navbar img { /* settings for images inside box navbar */
    height: 150px;
    width: 100px;
  }

  .floatright{
    float: right; /* This will force the div over to the right edge of its containing box. A width is also required when floating an element - unless it is an image. */
    width: 103px;
    margin: 0 10px 10px 10px; /* top, right, bottom, left */
    background-color: #ddd; /* add a background color to make the image and caption stand out from the overall page */
    padding: 10px; /* Add padding so that the background-color is shown also around the image */
    border-top: 1px solid #999;
    border-right: 2px solid #555;
    border-bottom: 2px solid #555;
    border-left: 1px solid #999;
  }

  /*
    To apply style to the image I apply the Decendant Selector rule
    The image and caption are inside the div so they are decendants of the div.
    This means I can target the image with a rule "div img".
    The problem with this rule is that it will target any image inside any div.
    To be more specific, we can narrow down the selection by using "div.floatright img { border: 1px solid #ddd; }".
    This will target any image inside a div that is styled with a "floatright" class.
  */
  div.floatright img {
    border-top: 2px solid #555;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-left: 2px solid #555;
  }

  div.setHeight{
    height: 280px;
  }

  h1.contentHeader {
    text-align: left;
  }
}